@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Page Not Found :(</title>

    <link href="../Content/ErrorStyleSheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>

    <h1>404 Error Page #1</h1>
    <p class="zoom-area"><b>Sorry!</b> Something went wrong </p>
    <section class="error-container">
        <span><span>4</span></span>
        <span>0</span>
        <span><span>4</span></span>
    </section>
    <div class="link-container">
        <a href="@Url.Action("Index","Login")" class="more-link">Back to login page</a>
    </div>
</body>
</html>